body{
    background-color: #eebfb7;
    font-family: "Nunito", sans-serif;
}

.subctn h2{
    color: #EA1C2c;
    font-weight: 100;
    font-size: 2rem;
}

.subctn p{
    color: #ffffff ;
    font-weight: 100;
    font-size: 1.2rem;
    line-height: 2;
}

.ctn{
    margin-top: 100px;
}


#mainNavbar{
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .nav-link{
    color: white;
    
}

#mainNavbar .nav-link:hover{
    color: #EA1C2c;
    
}

#mainNavbar .navbar-brand{
    color: #EA1C2c;
    font-size: 1.6rem;
    
}

#headingGroup h1{
    font-weight: 100;
    font-size: 3.5rem;
}


.navbar.scrolled{
    background-color: #ebbbb2 ;
}

@media (max-width:1200px) {
    
#headingGroup h1{
    font-weight: 100;
    font-size: 2.5rem;
}

}



